In [194]:
import numpy as np
import pandas as pd

In [195]:
df=pd.read_csv('med_cost.csv')

In [196]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [197]:
df.shape

(1338, 7)

In [198]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [199]:
df[df.duplicated()]

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [200]:
df.drop_duplicates(keep='first',inplace=True)

In [201]:
df[df.duplicated()]

Empty DataFrame
Columns: [age, sex, bmi, children, smoker, region, charges]
Index: []

In [202]:
df.drop(columns='region',inplace=True)

In [203]:
df.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [204]:
from sklearn.preprocessing import LabelEncoder

In [205]:
le=LabelEncoder()

In [206]:
for col in df.columns:
    if df[col].dtypes=='object':
        df[col]=le.fit_transform(df[col])

In [207]:
df.head()

   age  sex     bmi  children  smoker      charges
0   19    0  27.900         0       1  16884.92400
1   18    1  33.770         1       0   1725.55230
2   28    1  33.000         3       0   4449.46200
3   33    1  22.705         0       0  21984.47061
4   32    1  28.880         0       0   3866.85520

In [208]:
correlation=df.corr()
print(correlation)

               age       sex       bmi  children    smoker   charges
age       1.000000 -0.019814  0.109344  0.041536 -0.025587  0.298308
sex      -0.019814  1.000000  0.046397  0.017848  0.076596  0.058044
bmi       0.109344  0.046397  1.000000  0.012755  0.003746  0.198401
children  0.041536  0.017848  0.012755  1.000000  0.007331  0.067389
smoker   -0.025587  0.076596  0.003746  0.007331  1.000000  0.787234
charges   0.298308  0.058044  0.198401  0.067389  0.787234  1.000000

In [209]:
df.drop(columns=['sex','children'],inplace=True)

In [210]:
df.head()

   age     bmi  smoker      charges
0   19  27.900       1  16884.92400
1   18  33.770       0   1725.55230
2   28  33.000       0   4449.46200
3   33  22.705       0  21984.47061
4   32  28.880       0   3866.85520

In [221]:
X.shape

(1337, 3)

In [211]:
from sklearn.model_selection import train_test_split
X=df.drop(columns=['charges'])
y=df['charges']

In [212]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [213]:
from sklearn.linear_model import LinearRegression

In [214]:
lr=LinearRegression()

In [215]:
model=lr.fit(X_train,y_train)

In [216]:
y_pred=model.predict(X_test)

In [217]:
y_pred

array([ 8433.67443577,  4336.46678013, 13165.0382606 , 30593.69534864,
        8738.64384303, 13004.1887831 , 29273.63576136,  2177.09021482,
       10922.95093736, 10315.83022735, 11021.84491859, 33740.33309282,
       30613.92158231, 18004.87150727,  9656.23179762,  9311.37354392,
        4325.12010919, 32099.96630635,  3001.71338943,  5552.62898392,
        4325.12010919, 29913.00795743, 14580.01800456, 30752.45719245,
       31444.92261851,  4769.02189756, 35187.05259131, 37413.46842278,
       10952.8675722 , 12177.75978526,  6505.9651105 , 13121.95183512,
         870.87899962, 12471.87695664, 40355.37672202, 12499.04467281,
        2732.11267963,  2866.20850841, 32023.18474965,  9365.1280589 ,
        6903.0538664 , 29243.81679061, 34097.79751626, 11919.91981386,
        6896.22734444,  4145.55111435,  6040.33037213,  9173.38425823,
        4186.69945959,  8909.59778913,  6340.1295272 , 12053.6361681 ,
       30836.41015271,  4425.70495311, 10719.84316929,  9666.05445578,
       10530.02015238,  2388.64618173, 31511.97918113,  8879.94566829,
       14211.20691017,  8472.07386235, 11998.05853343,  1725.85017296,
       15951.34770214,  9817.6103031 , 10093.34165695, 31607.56062279,
       25532.05211301, 16080.45742511,  7915.22827784,  2942.01237675,
        6853.00866197,  -356.23310413, 11913.95601971,  -315.91289378,
       17821.98997286,  8437.71744615,  8063.3393286 , 13057.51193418,
        5353.67918676, 16576.19294469, 15605.66131355, 10822.36609344,
       36626.79601439, 13142.44258279,  4545.67059936,  2714.93447154,
        6601.99521252,  4946.63551571, 14433.69548057, 27069.76371833,
        3688.34727834,  3997.87142749,  2823.55344684, 36048.10251934,
       15218.71161918,  9264.54321498,  5063.57043284,  7889.46961392,
       14790.03266221, 14337.55041802, 32626.69381319, 13734.32316493,
       31514.33132881,   645.73917464, 30596.46156376, 25426.19935283,
       13303.85568118,  6304.92767965,  7936.44949632, 12119.41593546,
        7927.58723005,  8602.31082711,  6810.08908641,  6204.36013219,
        1861.90137843,  3921.95259861,  7796.53942685,  8997.9732343 ,
       36885.61367413,  8283.79215469, 11912.44930338,  8505.60214366,
        8989.80684593,  9370.67778561,  2810.79772364, 13188.99110128,
       30586.22483816, 39662.6294855 , 36528.43106115, 12232.90605603,
        3371.63442915, 10393.96894692,  9397.84550177,  3318.44353507,
       35257.98531439, 29553.60545375, 25891.71913067,  5634.37934996,
        6372.26605272,  4725.37185119, 37215.92767786, 10590.6988534 ,
        6302.46057144,  9049.80696551, 10482.94260591,  8693.73429786,
       35306.47191312, 14632.64527774,  9407.53590294,  5469.07279464,
        7341.25637461, 17449.84904246,  6915.07911878, 27181.03394822,
       36131.39419463, 15467.27525687, 10807.67229001, 11639.08739366,
       12791.3733174 ,  4348.50932897, 13286.39566263, 14030.52796999,
       36157.96369698, 32941.4858786 , 12233.86644792, 25521.79809094,
        2678.2086112 ,   686.19164198,  4942.32799134,  5698.9515079 ,
        5298.53291599, 10778.28468316,  9412.65426574, 25778.2290101 ,
        2565.29940799, 11478.23791616,  7032.2785499 , 10700.99139495,
       14438.68158638,  5437.78170048, 10373.4609028 , 10651.37755442,
       32368.3248138 , 11508.56861844,  6330.43912604,  4989.30787374,
         877.38911821, 31175.86823316,  8121.98228531, 32755.82083261,
       12713.23459784,  6308.25751568,  1783.76265886,  2949.63244069,
       32368.3248138 ,  4663.71546183, 12572.46180056, 16456.88858342,
       26818.31890498, 26647.89398687,  7416.34706861, 13140.78631301,
       27652.9142912 ,  8064.74838085,  9632.80798492,  9996.35116305,
        3593.31216112, 33576.03881877, 31272.27780971,  8662.55816423,
        6157.79431724,  7073.16238115, 11818.48953859,  5430.72525744,
        5406.05924241, 12357.4610371 ,  9872.75657387,  2999.92486265,
        4241.84573036, 36798.06636386, 36763.70994766, 13152.13298395,
       11228.0180087 , 38750.15989371, 34597.52415685,  7576.48337175,
       27058.69885784,  4140.28319809, 16680.91846307, 30255.08269954,
        5188.67173835, 10201.67882181,  9174.6091641 , 10127.96258714,
        9930.23769586,  4994.85760045,  6037.1327931 ,  4897.58529609,
        5377.5170669 ,  5246.58422424,  5567.86911179,  9625.86650242,
        1688.16392074,  8462.63067872,  2932.71874658, 10063.68953611,
        2652.44994728,  9238.91680805,  3715.10092706, 12050.00722517,
       13150.47671417, 13538.27183989, 35912.05131388, 23410.21224647,
       10361.81512495,  6332.22765282,  8048.94463209, 11610.13115071,
       28199.48855719, 38867.09481084, 13593.8321781 , 17687.59503718,
       16161.64417025,  5310.46050429, 38732.15355072,  8480.09069727])

In [218]:
from sklearn.metrics import mean_absolute_error,r2_score

In [219]:
mean_absolute_error(y_test,y_pred)

4191.704294603895

In [220]:
r2_score(y_test,y_pred)

0.8049502474643171